.card1 {
  /* margin-left: -200px; */
  width: 400px;
  height: 250px;
  background-color: rgba(91, 91, 177, 0.631);
  margin-left: 150px;
  position: absolute;
  z-index: 2;
  color: black;
}

.card1 p {
  width: 200px;
  color: red;
}
