.dna {
  width: 100%;
  margin-top: 200px;
  height: 818px;
}

.dna__title {
  /* margin-left: 80px; */
  text-align: justify;
  font-size: 70px;
  font-weight: 400;
}

.dna__container {
  position: relative;
  margin-top: 50px;
  /* margin-left: 80px; */
  /* width: 100%; */
  display: grid;
  /* padding: 0 40px; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 10px;
}

.dna__card1,
.dna__card2,
.dna__card3,
.dna__card4 {
  grid-row: 1;
}

.dna__card5,
.dna__card6,
.dna__card7,
.dna__card8 {
  grid-row: 2;
}

.dna__card1 {
  background: url("../../Accets/dna.img/card1.png") no-repeat;
  width: 251px;
  height: 220px;
}
.dna__card2 {
  background: url("../../Accets/dna.img/card2.png") no-repeat;
  width: 251px;
  height: 220px;
}
.dna__card3 {
  background: url("../../Accets/dna.img/card3.png") no-repeat;
  width: 251px;
  height: 220px;
}
.dna__card4 {
  background: url("../../Accets/dna.img/card4.png") no-repeat;
  width: 251px;
  height: 220px;
}
.dna__card5 {
  background: url("../../Accets/dna.img/card5.png") no-repeat;
  width: 251px;
  height: 220px;
}
.dna__card6 {
  background: url("../../Accets/dna.img/card6.png") no-repeat;
  width: 251px;
  height: 220px;
}
.dna__card7 {
  background: url("../../Accets/dna.img/card7.png") no-repeat;
  width: 251px;
  height: 220px;
}
.dna__card8 {
  background: url("../../Accets/dna.img/card8.png") no-repeat;
  width: 251px;
  height: 220px;
}

.dna__card8 button {
  /* margin-right: 350px; */
  margin-bottom: -200px;
}

.dna__text {
  margin-top: 80px;
}

.cardvideo {
  margin-left: 100px;
  margin-top: 80px;
}

.dna__container button {
  width: 100px;
  height: 40px;
  border-radius: 100px;
  background-color: rgba(72, 72, 72, 0.823);
  color: white;
  display: flex;
  margin-top: 170px;
  margin-left: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.dna__container p {
  display: flex;
  flex-direction: column;
  /* text-align: justify; */
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.dna__container span {
  font-weight: 200;
  margin-top: 10px;
}

@media only screen and (max-width: 480px) {
  .dna__title {
    font-size: 40px;
  }

  .dna__container {
    margin-left: 20px;
    padding: 0 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .cardvideo {
    top: 75%;
    margin-left: 4%;
  }

  .dna__container button {
    width: 80px;
    height: 30px;
    margin-top: -40px;
    margin-left: 20px;
    font-size: 12px;
  }

  .dna__container p {
    font-size: 12px;
  }
}
